.card-product {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.card-product__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.card-product__img {
  flex-grow: 1;
}

.card-product__table {
  flex-grow: 2;
  margin-bottom: 23px;
}

.card-product__property {
  min-width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-product__description {
  text-align: left;
}

.card-product__value {
  text-align: right;
}

.card-product__title {
  max-width: 72px;
  font-family: "Oswald", "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.card-product__button {
  background-color: #68b738;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 110px;
  padding-right: 110px;
  font-family: "Oswald", "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

