@tablet-width: 768px;
@desktop-width: 1200px;

.present {
  max-width: 280px;
  background-image: url("../img/content/gift-photo-mobile@2x.jpg");
  background-size: 280px 289px;
}

@media (min-width: @tablet-width) {
  .present {
    max-width: 708px;
    background-image: url("../img/content/gift-photo-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-size: 708px 200px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    width: 245px;
    background-image: url("../img/content/gift-photo-mobile@2x.jpg");
    background-size: 245px 289px;
  }
}

.present__description {
  padding-top: 190px;
  padding-bottom: 43px;
  max-width: 163px;
  background-image: url("../img/icon/catalog-icon/gift-svg.svg");
  background-repeat: no-repeat;
  background-position: center 65px;
  background-size: 56px 61px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .present__description {
    padding-top: 75px;
    padding-bottom: 69px;
    text-align: left;
    background-position: 0 65px;
    padding-left: 340px;
    padding-right: 40px;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .present__description {
    padding-top: 190px;
    padding-bottom: 43px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-position: center 65px;
    margin-bottom: 0;
  }
}
