@tablet-width: 768px;
@desktop-width: 1300px;

.comment {
  border: none;
  padding-left: 17px;
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .comment {
    padding-left: 68px;
    padding-bottom: 64px;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-bottom: 67px;
  }
}

.comment__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;

  &::after {
    content: "";
    position: absolute;
    margin-left: 145px;
    margin-top: -11px;
    display: block;
    width: calc(100% - 164px);
    height: 3px;
    background-color: #68b738;
  }
}

@media (min-width: @tablet-width) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      margin-left: -69px;
      margin-top: 21px;
      display: block;
      width: 30px;
      height: 3px;
      background-color: #68b738;
    }

    &::after {
      margin-top: -15px;
      margin-left: 220px;
      width: calc(100% - 290px);
    }
  }
}

@media (min-width: @desktop-width) {
  .comment__title {
    background-color: white;
    padding-right: 50px;

    &::before {
      margin-left: -39px;
      margin-top: 1px;
      width: 40px;
      height: 40px;
      background-color: white;
    }

    &::after {
      width: 100vw;
      margin-left: calc(-1 * ((100vw - 1238px) / 2));
      z-index: -1;
    }
  }
}

.comment__input {
  margin-top: 31px;
  width: 86vw;
  height: 145px;
  border: solid 1px #cdcdcd;
}

@media (min-width: @tablet-width) {
  .comment__input {
    margin-top: 75px;
    width: 81vw;
    height: 167px;
  }
}

@media (min-width: @desktop-width) {
  .comment__input {
    width: 1220px;
  }
}

.comment__input::placeholder {
  padding-top: 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .comment__input::placeholder {
    padding-left: 16px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
