.comment {
  border: none;
}

.comment__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

.comment__input {
  margin-top: 31px;
  width: 280px;
  height: 150px;
  border: solid 1px #cdcdcd;
}

.comment__input::placeholder {
  padding-top: 15px;
  font-family: "Oswald", "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
