@tablet-width: 768px;
@desktop-width: 1200px;

.owner-contacts {
  border: none;
}

@media (min-width: @tablet-width) {
  .owner-contacts {
    padding-left: 71px;
  }
}

.owner-contacts__title {
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

@media (min-width: @tablet-width) {
  .owner-contacts__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .owner-contacts__desktop-wrap {
    width: 80vw;
    display: flex;
    justify-content: space-between;
  }
}

.owner-contacts__wrapper {
  width: 85vw;
  display: flex;
  align-items: baseline;
}

@media (min-width: @tablet-width) {
  .owner-contacts__wrapper {
    width: 560px;
  }
}

.owner-contacts__label {
  margin-right: 14px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .owner-contacts__label {
    font-size: 20px;
    line-height: 20px;
  }
}

.owner-contacts__input {
  flex-grow: 1;
  min-width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 14px;
  border: solid 1px #cdcdcd;
}

@media (min-width: @tablet-width) {
  .owner-contacts__input {
    padding-top: 20px;
  }
}

.owner-contacts__input::placeholder {
  padding-left: 15px;
  font-family: "Oswald", "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .owner-contacts__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
}
