.owner-contacts {
  border: none;
}

.owner-contacts__title {
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

.owner-contacts__label {
  margin-right: 14px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.owner-contacts__input {
  min-width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 14px;
  border: solid 1px #cdcdcd;
}

.owner-contacts__input::placeholder {
  padding-left: 15px;
  font-family: "Oswald", "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}
