.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__title {
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  color: #111111;
  text-align: left;
}
