@tablet-width: 768px;
@desktop-width: 1300px;

.choice-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 554px) {
  .choice-program {
    justify-content: space-evenly;
  }
}


@media (min-width: @tablet-width) {
  .choice-program {
    padding-bottom: 19px;
  }
}

@media (min-width: @desktop-width) {
  .choice-program {
    width: 1220px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}
