@tablet-width: 768px;
@desktop-width: 1200px;

.living-example {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .living-example {
    padding-top: 25px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .living-example {
    justify-content: left;
    background-color: #eaeaea;
    border: none;
    padding-top: 60px;
  }
}

@media (min-width: @tablet-width) {
  .living-example__desktop {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .living-example__desktop {
    width: auto;
    display: flex;
    justify-content: space-between;
  }
}

.living-example__wrapper {
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .living-example__wrapper {
    padding-left: 29px;
  }
}

@media (min-width: @desktop-width) {
  .living-example__wrapper {
    padding-left: 110px;
  }
}

.living-example__title {
  padding-left: 20px;
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  color: #111111;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .living-example__title {
    padding-left: 29px;
    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .living-example__title {
    position: absolute;
    margin-top: -195px;
    padding-left: 110px;
    padding-right: 60vw;
  }
}

.living-example__description {
  margin-bottom: 0;
  max-width: 270px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .living-example__description {
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 676px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .living-example__description {
    width: 435px;
    padding-top: 0;
    margin-top: 11px;
    padding-bottom: 45px;
  }
}


@media (min-width: @tablet-width) {
  .living-example__result {
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .living-example__result {
    flex-direction: column;
  }
}
