@tablet-width: 768px;
@desktop-width: 1200px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

.presentation-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  color: #ffffff;
  background-image: url("../img/backgraund/index-page/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/backgraund/index-page/index-background-mobile@2x.jpg");
    background-size: 100vw 95vw;
  }
}

@media (min-width: @tablet-width) {
  .presentation-goods {
    padding-left: 28px;
    background-image: none;
    align-items: start;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .presentation-goods {
    padding-bottom: 353px;
  }
}

.presentation-goods__title {
  margin-top: 0;
  padding-top: 27px;
  margin-bottom: 0;
  padding-bottom: 11px;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 36px;
  letter-spacing: normal;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .presentation-goods__title {
    padding-top: 11px;
    padding-left: 89px;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
}

@media (min-width: @desktop-width) {
  .presentation-goods__title {
    padding-top: 45px;
    padding-left: 162px;
  }
}

.presentation-goods__description {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 14px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  justify-content: flex-start;
}

@media (min-width: @tablet-width) {
  .presentation-goods__description {
    padding-top: 10px;
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .presentation-goods__description {
    padding-left: 162px;
    padding-top: 12px;
  }
}

.presentation-goods__img {
  padding-top: 15px;
}

@media (min-width: @tablet-width) {
  .presentation-goods__img {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .presentation-goods__img {
    position: absolute;
    height: 499px;
    margin-left: 530px;
    margin-top: -283px;
  }
}

.presentation-goods__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 73px;
  padding-right: 73px;
  background-color: #68b738;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .presentation-goods__button {
    position: absolute;
    margin-top: 240px;
    margin-left: 90px;
    margin-right: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .presentation-goods__button {
    margin-top: 281px;
    margin-left: 162px;
  }
}
