.presentation-goods {
  padding-bottom: 60px;
  background-image: url("../img/index-background-mobile@2x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.presentation-goods__title {
  padding-top: 28px;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 36px;
  letter-spacing: normal;
  text-align: center;
}

.presentation-goods__description {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 14px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.presentation-goods__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 73px;
  padding-right: 73px;
  background-color: #68b738;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
