@tablet-width: 768px;
@desktop-width: 1300px;

.footer__address-wrapper {
  background-color: #f2f2f2;
}

@media (min-width: @desktop-width) {
  .footer__address-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
  }
}

.address {
  width: 282px;
  padding-top: 14px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .address {
    width: 626px;
    justify-content: center;
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 46px;
    padding-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .address {
    justify-content: flex-start;
    position: absolute;
    width: 570px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: #ffffff;
    margin-top: 95px;
    z-index: 3500;
  }
}

.address--gray {
  background-color: #f2f2f2;
}

@media (min-width: @desktop-width) {
  .address--gray {
    background-color: #ffffff;
  }
}

.footer__address-wrapper--white {
  background-color: #ffffff;
}

.address__tagline {
  font-family: "Oswald", "Arial", sans-serif;
  max-width: 123px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .address__tagline {
    max-width: 165px;
    font-size: 20px;
    line-height: 25px;
    padding-right: 300px;
  }
}

@media (min-width: @desktop-width) {
  .address__tagline {
    padding-left: 75px;
    padding-right: 0;
  }
}

.address__direct-place {
  max-width: 136px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .address__direct-place {
    max-width: 160px;
    font-size: 16px;
    text-align: right;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .address__direct-place {
    text-align: left;
    padding-top: 2px;
    padding-left: 97px;
  }
}
