@tablet-width: 768px;
@desktop-width: 1200px;

.feedback {
  background-color: #f2f2f2;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .feedback {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .feedback__link {
    padding-left: 31px;
  }
}
