@tablet-width: 768px;
@desktop-width: 1200px;

@media (min-width: @tablet-width) {
  .header__section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 29px;
  }
}

@media (min-width: @desktop-width) {
  .header__section {
    padding-top: 77px;
  }
}
