@tablet-width: 768px;
@desktop-width: 1300px;

.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    padding-left: 535px;
    margin-right: 4px;
    font-size: 20px;
    line-height: 25px;
    justify-content: space-between;
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: solid 1px #eaeaea;
}

@media (min-width: @tablet-width) {
  .main-nav__link {
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    text-align: left;
    padding-bottom: 6px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link {
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__link--active {
    border-bottom: solid 2px #68b738;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link--active {
    border-bottom: solid 2px #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link--catalog {
    color: #222222;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link--active-catalog {
    border-bottom: solid 2px #68b738;
  }
}
